.coll .cardd {
  margin-top: 20px !important;
  padding: 20px;
}
.coll .cardd:hover {
  border: 2px solid blue;
  cursor: pointer;
}
.card2:hover {
  border: 2px solid blue;
  cursor: pointer;
}

.displayCard > div {
  /* border: 1px solid black;
  transition: 0.4s;
  cursor: pointer;
  padding: 5px; */
}
.nav-tabs {
  background: white;
  border: none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #e6ecf7;
}
.col-sm-12 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  margin: 10px 0;
  cursor: pointer;
}
.dropzone > p {
  margin: 0;
}

/* .displayCard:hover {
} */
